* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 51, 38);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(93, 151, 21);
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li {
    list-style: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.carre {
    background-color: white;
    width: 100px;
    height: 100px;
}

h1 {
    margin-top: 3rem;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}

input {
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    background-color: #0fab7a;
    border: 1px solid black;
    border-radius: 15px;
}

.button1 {
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 300px;
    background-color: #0fab7a;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
}

.mamanbtn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

@media screen and (max-width: 450px) {
    nav {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    p {
        text-align: center;
    }

    input {
        max-width: 100%;
    }

    .button1 {
        max-width: 100%;
    }
}